<?xml version="1.0" encoding="UTF-8"?>
<!--<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="com.increff.commons.springboot.server" status="WARN">-->
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="com.increff.commons.springboot.server" status="WARN">
    <Appenders>
        <ElkAppender name="ElkAppender" appName="demoApp"/>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>

        <Logger name="com.increff.commons.springboot.server.VaultPropertyLocator" level="INFO" additivity="false">
            <AppenderRef ref="ElkAppender" />
        </Logger>
    </Loggers>
</Configuration>